<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interdroid.swan"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".LaunchService"
            android:label="Launch Swan Service" >
        </activity>
        <activity
            android:name=".sensors.AbstractConfigurationActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="interdroid.swan.DEFAULT_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.preference"
                android:resource="@xml/default_preferences" />
        </activity>

        <receiver android:name=".contextservice.ContextService$BootHandler" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ExpressionBuilderActivity"
            android:label="Expression Builder"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="interdroid.swan.ui.BUILD_EXPRESSION" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NewExpressionDialog"
            android:excludeFromRecents="true"
            android:label="New Expression"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.SelectTypedValueDialog"
            android:excludeFromRecents="true"
            android:label="Choose Value Type"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.SelectComparatorDialog"
            android:excludeFromRecents="true"
            android:label="Select Comparator"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.EnterConstantDialog"
            android:excludeFromRecents="true"
            android:label="Enter Constant"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.SelectSensorDialog"
            android:excludeFromRecents="true"
            android:label="Select Sensor"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.SelectExpressionDialog"
            android:excludeFromRecents="true"
            android:label="Select Expression"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.MergeExpressionDialog"
            android:excludeFromRecents="true"
            android:label="Merge Expressions"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.NewMathExpressionDialog"
            android:excludeFromRecents="true"
            android:label="New Combined Expressions"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.SelectOperatorDialog"
            android:excludeFromRecents="true"
            android:label="Select Operator"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <!--
             <activity android:label="Swan Monitor" android:name=".servicemonitor.ServiceMonitor">
			<intent-filter> <action android:name="android.intent.action.MAIN"></action>
			<category android:name="android.intent.category.LAUNCHER" /> </intent-filter>
			</activity>
        -->


        <!--
             <activity android:label="Expression Monitor" android:name=".servicemonitor.ExpressionMonitor"
			/>
        -->
        <activity
            android:name=".sensors.impl.SmartLocationSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.GyroscopeSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.LightSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.MagnetometerSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.PressureSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.ProximitySensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.TemperatureSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.BatterySensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.BluetoothSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.CalendarSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.CallSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.SignalStrengthSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.IntentSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.LocationSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.LogCatSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.MovementSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.RainSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.ScreenSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.ServerStatusSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.SoundSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.TrainSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.CuckooTrainSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.TimeSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.TwitterSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.WifiSensor$ConfigurationActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensors.impl.PolarHeartRate$ConfigurationActivity"
            android:exported="true" >
        </activity>

        <service
            android:name=".contextservice.ContextService"
            android:exported="true"
            android:process=":contextservice" >
            <intent-filter>
                <action android:name="interdroid.swan.intent.CONTEXTSERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.BatterySensor"
            android:exported="true"
            android:process=":batterysensor" >
            <meta-data
                android:name="entityId"
                android:value="battery" />
            <meta-data
                android:name="valuePaths"
                android:value="level,voltage,temperature,plugged" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.battery" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.BatterySensor$Provider"
            android:authorities="interdroid.context.sensor.battery" />

        <service
            android:name=".sensors.impl.TimeSensor"
            android:exported="true"
            android:process=":timesensor" >
            <meta-data
                android:name="entityId"
                android:value="time" />
            <meta-data
                android:name="valuePaths"
                android:value="current" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.TemperatureSensor"
            android:exported="true"
            android:process=":temperaturesensor" >
            <meta-data
                android:name="entityId"
                android:value="temperature" />
            <meta-data
                android:name="valuePaths"
                android:value="temperature" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.ProximitySensor"
            android:exported="true"
            android:process=":proximitysensor" >
            <meta-data
                android:name="entityId"
                android:value="proximity" />
            <meta-data
                android:name="valuePaths"
                android:value="distance" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.PressureSensor"
            android:exported="true"
            android:process=":pressuresensor" >
            <meta-data
                android:name="entityId"
                android:value="pressure" />
            <meta-data
                android:name="valuePaths"
                android:value="pressure" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.PolarHeartRate"
            android:exported="true"
            android:process=":PolarHeartRate" >
            <meta-data
                android:name="entityId"
                android:value="polar_hrm" />
            <!-- TODO: Make these come from a string array resource instead. -->
            <meta-data
                android:name="valuePaths"
                android:value="bpm,status,index,rri" />
            <meta-data
                android:name="device_name"
                android:value="Polar iWL" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.polar_hrm" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.PolarHeartRate$Provider"
            android:authorities="interdroid.context.sensor.polar_hrm" />

        <service
            android:name=".sensors.impl.MagnetometerSensor"
            android:exported="true"
            android:process=":magnetometersensor" >
            <meta-data
                android:name="entityId"
                android:value="magnetometer" />
            <meta-data
                android:name="valuePaths"
                android:value="x,y,z,total" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.LightSensor"
            android:exported="true"
            android:process=":lightsensor" >
            <meta-data
                android:name="entityId"
                android:value="light" />
            <meta-data
                android:name="valuePaths"
                android:value="lux" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.GyroscopeSensor"
            android:exported="true"
            android:process=":gyroscopesensor" >
            <meta-data
                android:name="entityId"
                android:value="gyroscope" />
            <meta-data
                android:name="valuePaths"
                android:value="x,y,z" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.MovementSensor"
            android:exported="true"
            android:process=":movementsensor" >
            <meta-data
                android:name="entityId"
                android:value="movement" />
            <meta-data
                android:name="valuePaths"
                android:value="x,y,z,total" />
            <meta-data
                android:name="accuracy"
                android:value="3" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.SoundSensor"
            android:exported="true"
            android:process=":soundsensor" >
            <meta-data
                android:name="entityId"
                android:value="sound" />
            <meta-data
                android:name="valuePaths"
                android:value="dB" />
            <meta-data
                android:name="sample_interval"
                android:value="10000" />
            <meta-data
                android:name="sample_length"
                android:value="1024" />
            <meta-data
                android:name="sample_rate"
                android:value="8000" />
            <meta-data
                android:name="audio_source"
                android:value="1" />
            <meta-data
                android:name="audio_format"
                android:value="2" />
            <meta-data
                android:name="channel_config"
                android:value="2" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.BluetoothSensor"
            android:exported="true"
            android:process=":bluetoothsensor" >
            <meta-data
                android:name="entityId"
                android:value="bluetooth" />
            <!-- TODO: Make these come from a string array resource instead. -->
            <meta-data
                android:name="valuePaths"
                android:value="name,address,bond_state,class,major_class" />
            <meta-data
                android:name="discovery_interval"
                android:value="300000L" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.bluetooth" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.BluetoothSensor$Provider"
            android:authorities="interdroid.context.sensor.bluetooth" />

        <service
            android:name=".sensors.impl.SignalStrengthSensor"
            android:exported="true"
            android:process=":signalsensor" >
            <meta-data
                android:name="entityId"
                android:value="signal" />
            <meta-data
                android:name="valuePaths"
                android:value="is_gsm,gsm_signal_strength,gsm_bit_error_rate,cdma_dbm,cdma_ecio,evdo_dbm,evdo_ecio,evdo_snr" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.signal" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.SignalStrengthSensor$Provider"
            android:authorities="interdroid.context.sensor.signal" />

        <service
            android:name=".sensors.impl.ScreenSensor"
            android:exported="true"
            android:process=":screensensor" >
            <meta-data
                android:name="entityId"
                android:value="screen" />
            <meta-data
                android:name="valuePaths"
                android:value="is_screen_on" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.screen" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.ScreenSensor$Provider"
            android:authorities="interdroid.context.sensor.screen" />

        <service
            android:name=".sensors.impl.LocationSensor"
            android:exported="true"
            android:process=":locationsensor" >
            <meta-data
                android:name="entityId"
                android:value="location" />
            <meta-data
                android:name="valuePaths"
                android:value="latitude,longitude,altitude,speed" />
            <meta-data
                android:name="min_distance"
                android:value="0L" />
            <meta-data
                android:name="min_time"
                android:value="0L" />
            <meta-data
                android:name="provider"
                android:value="network" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.location" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.LocationSensor$Provider"
            android:authorities="interdroid.context.sensor.location" />

        <service
            android:name=".sensors.impl.SmartLocationSensor"
            android:exported="true"
            android:process=":smartlocationsensor" >
            <meta-data
                android:name="entityId"
                android:value="smart_location" />
            <meta-data
                android:name="valuePaths"
                android:value="vicinity,within" />
            <meta-data
                android:name="max_speed"
                android:value="28.0D" />
            <meta-data
                android:name="latitude"
                android:value="null" />
            <meta-data
                android:name="longitude"
                android:value="null" />
            <meta-data
                android:name="provider"
                android:value="network" />
            <meta-data
                android:name="range"
                android:value="100.0D" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.smartlocation" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <receiver android:name=".sensors.impl.SmartLocationSensor$AlarmReceiver" >
        </receiver>

        <provider
            android:name="interdroid.swan.sensors.impl.SmartLocationSensor$Provider"
            android:authorities="interdroid.context.sensor.smartlocation" />

        <service
            android:name=".sensors.impl.CallSensor"
            android:exported="true"
            android:process=":callsensor" >
            <meta-data
                android:name="entityId"
                android:value="call" />
            <meta-data
                android:name="valuePaths"
                android:value="call_state,phone_number" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.call" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.CallSensor$Provider"
            android:authorities="interdroid.context.sensor.call" />

        <service
            android:name=".sensors.impl.WifiSensor"
            android:exported="true"
            android:process=":wifisensor" >
            <meta-data
                android:name="entityId"
                android:value="wifi" />
            <meta-data
                android:name="valuePaths"
                android:value="ssid,bssid,level" />
            <meta-data
                android:name="discovery_interval"
                android:value="9000000L" />
            <meta-data
                android:name="authority"
                android:value="interdroid.context.sensor.wifi" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>

        <provider
            android:name="interdroid.swan.sensors.impl.WifiSensor$Provider"
            android:authorities="interdroid.context.sensor.wifi" />

        <service
            android:name=".sensors.impl.ServerStatusSensor"
            android:exported="true"
            android:process=":serverstatussensor" >
            <meta-data
                android:name="entityId"
                android:value="serverstatus" />
            <meta-data
                android:name="valuePaths"
                android:value="status" />
            <meta-data
                android:name="sample_interval"
                android:value="300000L" />
            <meta-data
                android:name="connection_timeout"
                android:value="3000" />
            <meta-data
                android:name="server_url"
                android:value="null" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.TrainSensor"
            android:exported="true"
            android:process=":trainsensor" >
            <meta-data
                android:name="entityId"
                android:value="train" />
            <meta-data
                android:name="valuePaths"
                android:value="departure_time,arrival_time" />
            <meta-data
                android:name="sample_interval"
                android:value="300000L" />
            <meta-data
                android:name="from_station"
                android:value="null" />
            <meta-data
                android:name="to_station"
                android:value="null" />
            <meta-data
                android:name="departure_time"
                android:value="null" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.CuckooTrainSensor"
            android:exported="true"
            android:process=":trainsensor" >
            <meta-data
                android:name="entityId"
                android:value="cuckootrain" />
            <meta-data
                android:name="valuePaths"
                android:value="departure_time,arrival_time" />
            <meta-data
                android:name="from_station"
                android:value="null" />
            <meta-data
                android:name="to_station"
                android:value="null" />
            <meta-data
                android:name="departure_time"
                android:value="null" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.RainSensor"
            android:exported="true"
            android:process=":rainsensor" >
            <meta-data
                android:name="entityId"
                android:value="rain" />
            <meta-data
                android:name="valuePaths"
                android:value="expected_mm,start_time,stop_time" />
            <meta-data
                android:name="sample_interval"
                android:value="300000L" />
            <meta-data
                android:name="latitude"
                android:value="null" />
            <meta-data
                android:name="longitude"
                android:value="null" />
            <meta-data
                android:name="window"
                android:value="7200000L" />
            <meta-data
                android:name="threshold"
                android:value="0.0" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.TwitterSensor"
            android:exported="true"
            android:process=":twittersensor" >
            <meta-data
                android:name="entityId"
                android:value="twitter" />
            <meta-data
                android:name="valuePaths"
                android:value="mentions" />
            <meta-data
                android:name="sample_interval"
                android:value="300000L" />
            <meta-data
                android:name="access_token"
                android:value="null" />
            <meta-data
                android:name="secret_access_token"
                android:value="null" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.CalendarSensor"
            android:exported="true"
            android:process=":calendarsensor" >
            <meta-data
                android:name="entityId"
                android:value="calendar" />
            <meta-data
                android:name="valuePaths"
                android:value="start_time_next_event" />
            <meta-data
                android:name="sample_interval"
                android:value="300000L" />
            <meta-data
                android:name="private_calendar_urL"
                android:value="null" />
            <meta-data
                android:name="ignore_free_events"
                android:value="true" />
            <meta-data
                android:name="ignore_allday_events"
                android:value="true" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.LogCatSensor"
            android:exported="true"
            android:process=":logcatsensor" >
            <meta-data
                android:name="entityId"
                android:value="logcat" />
            <meta-data
                android:name="valuePaths"
                android:value="log" />
            <meta-data
                android:name="logcat_parameters"
                android:value="*:I" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
        <service
            android:name=".sensors.impl.IntentSensor"
            android:exported="true"
            android:process=":intentsensor" >
            <meta-data
                android:name="entityId"
                android:value="intent" />
            <meta-data
                android:name="valuePaths"
                android:value="started" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </service>
    </application>

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="interdroid.vdb.permission.READ_DATABASE" />
    <uses-permission android:name="interdroid.vdb.permission.WRITE_DATABASE" />
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

</manifest>